@import '../../styles/colors';
.reset {
  .form-title {
    font-size: 1.1rem;
    border-bottom: 2px solid;
    color: $secondary;
  }
  .form-group {
    margin-top: 2rem;
  }

  .reset-form {
    width: 45%;
    max-width: 400px;
    padding: 2rem 4rem;
    .form-control {
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: none;
      color: $secondary;
      height: 60px;
      font-size: 1rem;
    }
    a{
      text-decoration: none;
      color: $secondary;
    }
    .login-cta {
      height: 60px;
      width: 49%;
      border-radius: 5px;
      margin-top: 1.2rem;
    }
  }
}
