@import '../../../styles/colors';

.home{
  flex-flow: column wrap;
  //margin-top: 2.5rem;
  .form-group{
    //width: 50%;

    label{
      color: $businessUnit;
      font-size: 1.2rem;
      margin-bottom:1rem;
      margin-top: 2rem;
      position: relative;
      font-weight: bold;
    }

    .form-control{
      height: 60px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    select.form-control{
      border: 1px solid #ccc;
      text-align: center;
    }
  }
}
.retail-container{
  display: flex;
  min-width: 580px;
  .retail-item{
    height: 150px;
    a{
      padding: 3rem 1rem;
      display: block;
      text-decoration: none;
    }
    width: 30%;
    max-width: 180px;
    border-radius: 0.25rem;
    border: 1px solid #eeeeee;


    .item-title{
      text-align: center;
      font-size: 1.2rem;
      color: $businessUnit;
      font-weight: 400;
      width: 120px;
      margin: 0 auto;
      text-transform: capitalize;
    }
  }
}

.ocr-react-select{
  & > div{
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    padding: 13px 12px;
    &:hover{
      border-color: #eee;
    }
  }
  .ocr-single-value{
    text-align: center;
    color: $primary;
    width: 100%;
  }
  .select-options-container {
    padding: 0;
    box-shadow: 0 0 0 0 hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
    .select-options{
        &>div{
          padding: 0;
        }
        .option{
          &:hover{
            color: $primary;
          }
          &:last-child{
            border: none;
          }
          background-color: white;
          font-weight: 500;
          color: #3b3c3e;
          border-bottom: 1px solid #eeeeee;
          padding: 13px 12px;
          text-align: center;
          cursor: pointer;
          &.selected{
            color: $primary;
          }
        }
    }
  }

}