@import '../../../styles/colors';
$success: #4eb54a;
$failed: #eb433d;
$border: #f1f1f1;

.AssessmentExplanation {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0px;
  @media (min-width: 576px){
    min-width:600px;
  }

  .inner-record-goto{
    padding: 1.5rem 2rem;
    button{
      height: 50px;
      width: 153px;
      &:first-child{
        margin-right: 10px;
      }
    }
    h6{
      margin: 0;
    }
    .form-group{
      margin: 0;
      .form-control{
        border: 1px solid $border;
        width: 120px;
        margin-left: 10px;
        border-radius: 5px;
      }
    }

    .assessment-content{
      h5{
        margin-bottom: 1rem;
        text-align:center;
        color: #000000;
      }
      p{
        margin-bottom: 10px;
        color: #828282;
      }
      ul{
        margin:0;
        padding:0;
        &.dashed {
          list-style-type: none;
        }
        &.dashed > li {
          text-indent: -5px;
        }
        &.dashed > li:before {
          content: "-";
          text-indent: -5px;
        }
        li{
          color: black;
          font-weight: 600;
          p{
            display: block;
            color: #828282;
            font-weight: 400;
            margin-top: 10px;
            text-align:center;
          }
        }
      }
      p,li{
        font-size: 13px;
      }
    }
  }
}


