@import '../../../../styles/colors';

.batchsmsprocess-body{

    .description-item{
        text-align: left;
        font-weight: 400;
        color: #56585b;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .batch-title{
        color: $secondary;
    }

    .table-part{
        margin-top: 23px;
        .custom-table{
            background: transparent;
            font-size: 11px;
            text-align: center;
            border-collapse:separate;
            border-spacing: 0 5px;

            thead{
                tr{
                    background-color: #d5d8e1;
                    th{
                        border: none;
                        padding: 1.3rem 0.75rem;
                        border-top: 1px dashed #ccc;
                        border-bottom: 1px dashed #ccc;
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }

            tr{
                background-color: white;
                th{
                    font-weight: 400;
                    text-transform: capitalize;
                    border-top: none;
                    border-bottom: 3px solid #e8eaf1;
                }
                td{
                    text-transform: capitalize;
                    border-top: none;
                    border-bottom: 3px solid #e8eaf1;
                }
            }

            .th-region{
                width: 15%;
            }
            .th-contact{
                width:20%;
            }
            .th-reference{

                width:25%;
            }

            .th-delete{
                width: 40%;
            }

            .action-imgs{
                width:36%;
            }
        }
    }

    .button-groups{
      
        margin-top: 30px;
        display: flex;
        justify-content: left;
        
        .first{
            .cancel-button{
                height: 45px;
                width: 153px;
    
                margin-right: 5px; 
    
                background: #fff;
                border-radius: 4px; 
                border: solid 1px $secondary;
                color: $secondary ;
    
                font-size: 16px;
                font-weight: 400;
                      
                
            }
            .btn:active,
            .btn:focus {
                outline: none ;
                box-shadow:none; 
            }
    
        }    
        
        .last{
            .next-button{
    
                height: 45px;
                width: 153px;
    
                margin-left: 5px;
    
                background: $secondary;
                border: solid 1px $secondary;
                color: #fff;
                
                font-size: 16px;
                border-radius: 4px;
                font-weight: 400;
                            
            }
    
            .custom-send {
                width: 206px;
            }
            
            .btn:active,
            .btn:focus {
                    outline: none ;
                    box-shadow:none ; 
            }
        }
    }
}