.header-strip{
  padding: 0.8rem;
  .page-title{
    font-size: 1.1rem;
  }
  .back-arrow{
    img{
      width: 11px;
    }
  }

  .hide{
    opacity: 0;
    pointer-events: none;
  }

  .close{
    img{
      width: 15px;
    }
  }

}
