@import '../../../../../styles/colors';

$gray-color : #d1d1d1;
$bg-gray-color:#edeff5;
$mgmt-border:#f1f1f1;
$gray-text-color: rgba(0,0,0,0.5);

.anlaytics-container {
	.anlaytics {
		background: #fff;
		.status-details {
			.group-table {
				margin-bottom: 48px;
				.item {
					.col {
						font-size: 18px;
						line-height: 32px;
						color: $gray-text-color;
						font-weight: lighter;
					}
				}
			}
			padding: 75px;
			.status-group {
				display: flex;
				justify-content: space-between;
				margin: 0px;
				width: 100%;
				label {
					font-size: 18px;
					line-height: 24px;
					font-weight: bold;
					margin-bottom: 30px;
				}
				.status-table {
					padding: 0px 56px 0px 0px;
					.document {
						color: $gray-text-color;
						font-size: 18px;
						line-height: 32px;
						width: 50%;
						span {
							&:last-child {
								float: right;
							}
						}
					}
					.table {
						tbody {
							tr {
								td {
									color: $gray-text-color;
									border-right: 1px solid #dee2e6;
									border-bottom: 1px solid #dee2e6;
									&.title {
										color: #fff;
										background: #54befa;
										border: none;
										width: 8cm;
										font-size: 16px;
										line-height: 48px;
										padding: 0px 18px;
									}
									&.total {
										color: #fff;
										background: #01a1ff;
										border: none;
										font-size: 16px;
										line-height: 48px;
										padding: 0px 18px;
									}
									&.value {
										text-align: right;
										font-size: 16px;
										line-height: 48px;
										color: rgba(0,0,0,0.5);
										padding: 0px 18px;
									}
								}
							}
						}
					}
				}
				.status-figures {
					padding: 0px 0px 0px 56px;
				}
			}
		}
	}
	.big-number {
		font-size: 38px;
		line-height: 51px;
		font-weight: bold;
	}
}