@import '../../../../styles/colors';

$gray-color : #d1d1d1;
$bg-gray-color:#edeff5;
$mgmt-border:#f1f1f1;

.management-role {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .primary-actions {
    margin: 0 0 1rem;
    .form-group {
      position: relative;
      width: 100%;
      margin: 0;

      img {
        width: 15px;
        position: absolute;
        right: 10px;
        top: 20px;
      }
      .form-control {
        padding: 13px 30px 13px 10px;
        background-color: white;
        font-size: 14px;
        border-radius: 0;
        border-bottom-color: transparent;
      }
    }
  }
  .secondary-actions {
    padding-left: 1rem;
    padding-right: 0.5rem;
    //background-color: $bg-gray-color;
    height: 60px;

    .btn-management {
      margin-bottom: 8px;
    }

    .secondary-title {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 5px !important;
      width: 260px !important;
      font-weight: bold;
      font-size: 1rem !important;
      border-bottom: 2px solid $primary;
      margin-bottom: 0;
    }
  }
  .btn-management {
    background-color: white;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 14px 42px;
    font-size: 14px;
    color: #333;

    &.btn-primary{
      background-color: #333;
      border: 1px solid  #333;
      color: white;
      &:hover,
      &:focus,
      &.active {
        color: white;
      }
    }

    &:hover,
    &:focus,
    &.active {
      color: $primary;
      border-color: $primary;
    }

  }

  .form-group {
    margin: 0 0 1rem 0;
    width: 100%;
    padding: 0 1rem;
    label{
      margin-top: 0.3rem !important;
      color: #333!important;
      font-weight: 600 !important;
      font-family: 'Gilroy', Arial, Helvetica, sans-serif !important;
    }
    button{
      background-color: #333;
    }
    .form-control {
      background-color: white;
      border: none;
      border-bottom: 1px solid $mgmt-border;
      border-radius: 3px;
      height: 52px;
      font-size: 14px;
      font-weight: 400;
      &:focus {
        box-shadow: none;
        border-bottom-color: $primary;
      }

      &:disabled {
        border: none;
      }
    }
  }

  .content-area {
    //background-color: white;
    margin-bottom: 2rem;

    &>div {
      &:first-child {
        border-right: 1px solid $mgmt-border;
        .user-list {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            border: 1px solid transparent;
            border-bottom-color: $mgmt-border;

            a {
              padding: 1rem;
              margin-left: -1px;
              margin-right: -1px;
              margin-top: -1px;

              display: block;
              text-decoration: none;
              transition: all 0.5s ease-in-out;
              color: #737373;
              &.active {
                background-color: $mgmt-border;
              }

              &:hover,
              &:focus {
                opacity: 1;
              }
            }
          }
        }
      }

      .col-heading {
        background-color: $bg-gray-color;
        font-size: 1rem;
        padding: 1rem;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid $mgmt-border;
        span{
          cursor: pointer;
        }
      }
    }

    .form-fields {
      padding: 1rem;

      label {
        font-size: 14px;
      }
    }
  }

  .profile-section {

    .form-control {
      background-color: white !important;
      border: none;
      border-bottom: 1px solid #ebebeb;
      box-shadow: none;
      color: #333;
      height: 40px;
      font-weight: 400;
      font-size: 14px;
      border-radius: 0;
      font-family: "Varela-Round", Arial, Helvetica, sans-serif;

    }

    label {
      font-size: 14px;
    }
  }

}