@import '../../../styles/colors';

.modal-class {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0px;
  .modal-content {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;

    .applicants-modal {
      padding-top: 35px;
      padding-left: 35px;
      padding-right: 36px;
      padding-bottom: 40px;
      width: 100%;
      height: 100%;

      .dialog-title {
        text-align: left;
        font-weight: 500;
      }

      .under-line {
        width: 100%;
        height: 1px;
        border-bottom: solid 1px $primary;
        margin-top: 18px;
      }
      .subtitle-group {
        margin-top: 21px;
        font-weight: bold;

        .subtitle-key {
          font-size: 18px;
          font-weight: bold;
        }

        .dialog-marginRight {

          margin-right: 110px;

        }

        .subtitle-value {
          font-size: 18px;
          font-weight: bold;
        }

      }

      .dialog-description {
        margin-top: 5px;
      }

      .applicant-info {
        margin-top: 30px;

        .applicant-props {
          margin: 0 auto;
          h5{
            &.one{
              width: 15%;
            }
            &.two{
              width: 40%;
            }
            &.three{
              width: 45%;
            }
          }
          .applicant-name ,.applicant-phonenumber{
            font-size: 15px;
          }
          // .applicant-phonenumber{

          // }

        }

      }

      .dialog-close {
        width: 189px;
        height: 45px;
        border-radius: 3px;
        display: table;
        margin: auto;
        margin-top: 80px;
        background: $primary;
        border: solid 1px $primary;
        color: #fff;
        font-size: 16px;
      }

      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }

    }

  }

}


