// Fonts
$project-font-path: '/static/fonts/';

@font-face {
    font-family: 'Varela-Round';
    src: url('#{$project-font-path}Varela-Round.otf') ;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('#{$project-font-path}Gilroy-Regular.otf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('#{$project-font-path}Gilroy-SemiBold.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('#{$project-font-path}Gilroy-Bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('#{$project-font-path}Gilroy-ExtraBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('#{$project-font-path}Gilroy-Light.otf');
    font-weight: 300;
    font-style: normal;
}


$font-family-sans-serif: 'Varela-Round', Arial, Helvetica, sans-serif;

$font-family-heading: 'Gilroy', Arial, Helvetica, sans-serif;


/** WARNING - USE AT OWN RISK */
/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */
/** https://sf.abarba.me/font.css */
/** https://sf.abarba.me/LICENSE.pdf */

/** 1. Copy/import this file into your main css/scss file */
/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */
/** 3. Apply font-weight or italic to html elements */

/** THANK YOU */
/** I host these fonts on Cloudfront with SSL in all AWS regions for the best performance and reliability */
/** If you'd like to help offset costs, I'd very much appreciate a donation via Lisk https://lisk.io */
/** Address: 14987768355736502769L */
/** Delegate: andrew */

/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/*
@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'),
  url('#{$project-font-path}sf-compact-display-thin-58646eb43a785.woff') format('woff');
}


@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'),
  url('#{$project-font-path}sf-compact-display-medium-5864711817c30.woff') format('woff');
}



@font-face {
  font-family: 'SF Compact Display Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'),
  url('#{$project-font-path}SF-Compact-Display-Regular.otf') format('otf');
}
*/
