// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

//Override theme colors
@import './colors';

//override font
@import './fonts';

//-------------------

$image-path: '/assets-portal/images';
$base-font-family: 'Varela-Round', Arial, Helvetica, sans-serif;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1320px
);

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

//react tostify

$rt-color-default: #fff !default;
$rt-color-info: #3498db !default;
$rt-color-success: #07bc0c !default;
$rt-color-warning: #f1c40f !default;
$rt-color-error: #e74c3c !default;
@import '~react-toastify/scss/main';
//------------------------------

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-family-heading;
  font-weight: 500;
}

button,input{
  font-family: $font-family-heading;
  font-weight: 500;
}

#root {
  background-color: #f4f6fb;
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

//-----------
$border-width: 6px;
$ngray: rgb(128, 128, 128);
//-----------
.react-pagination {
  .pagination {
    justify-content: flex-end;
  }
  .page-item {
    margin: 0.2rem;
    a {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      text-align: center;
    }

    &.next-page,
    &.prev-page {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      border: 1px solid #dee2e6;
      img {
        width: 9px;
        margin: 10px auto 0;
        display: block;
      }
    }
  }
}

.navbar-brand {
  img {
    width: 110px;
  }
}
.avatar-img {
  width: 70px;
}

.login {
  .form-title {
    font-size: 1.1rem;
    border-bottom: 2px solid;
    color: $secondary;
  }

  .form-group {
    margin-top: 2rem;
  }

  .login-form {
    width: 45%;
    max-width: 400px;
    padding: 2rem 4rem;

    .form-control {
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: none;
      color: $secondary;
      height: 60px;
      font-size: 1rem;
    }

    .login-cta {
      height: 60px;
      border-radius: 5px;
      margin-top: 2.5rem;
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.donut {
  width: 50px;
  height: 50px;

  display: block;

  background: transparent;
  border-radius: 50%;
  border: $border-width solid rgba($ngray, 0.2);
  border-left: $border-width solid theme-color('primary');

  animation: 0.9s rotate infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

//------------------

.select-container {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    right: 12px;
    top: 50%;
    margin-top: -3px;
    background: transparent url(#{$image-path}/icons/dropdown-arraw-blue.png) no-repeat;
    background-size: 80%;
    background-position: right;
    pointer-events: none;
  }

  select {
    margin-bottom: 5px; //
    font-size: 14px; //
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  /* On mouse-over, add a grey background color */
  &:hover input~.checkmark {
    //background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked~.checkmark {
    background-color: #39b54a;
    border: 1px solid #39b54a;
    transition: all 0.5s ease-in-out;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.sweet-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
