@import '../../styles/colors';
a{
    cursor: pointer;
}

$myGray:#d7d7d7;
$bg: #e8eaf1;
$myGrayDark:#bebebe;
$success: #4eb54a;
$failed: #eb433d;
$warning: #f7941d;
$border: #f1f1f1;

.transaction-single{
    position: relative;
    width: 100%;
    padding-bottom:50px;

    .top-info{
        margin-top: 2rem;
        background-color: white;
        padding: 1rem;
        &> div{
            h4{
                font-size: 17px;
                color: inherit;
            }
            p{
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 0;
                color: #545761;
            }
        }
    }
    .tab-heading-container{
        .nav-tabs-container{
            background: $bg;
            margin-top: 10px;
            border-top: 1px dashed #cecece;
            border-bottom: 1px dashed #cecece;
            position: relative;
            .navigation{
                right: 20px;
                top: 17px;
                position: absolute;
                a {
                    &:last-child{
                        margin-left: 10px;
                    }
                    img{
                        width: 25px;
                    }
                }
            }
            .nav-tabs{
                width: 50%;
                margin: 0 auto;
                .nav-item{
                    .nav-link{
                        padding: 1rem 1.2rem;
                        border: none;
                        border-radius: 0;
                        color: #959595;
                        font-weight: 400;
                        &.active{
                            color: #495057;
                            background-color: transparent;
                            border-bottom: 4px solid $primary;
                        }
                    }
                    &.reference{
                        min-width: 210px;
                        padding-top: 14px;
                        h5{
                            display: flex;
                            font-size: 14px;
                            margin: 0 0 0 2px;
                            span{
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    .tab-content{
        .content-tab-heading{
            background-color: $bg;
            margin-top: 10px;
            margin-bottom: 10px;
            h4{
                font-size: 16px;
                margin: 0;
                padding: 1.3rem 1rem;
                text-transform: uppercase;
            }
        }
        .content-tab-heading-secondary{
            .d-flex{
                padding: 0.8rem;
                background-color: white;
                span{
                    width: 50%;
                    &:last-child{
                        margin-left: 25px;
                    }
                    font-size: 14px;

                }
                border-bottom: 1px solid $border;
            }
        }
        .block{
            div{
                margin: 10px 0;
                span{
                    &.strong{
                        font-weight: 500;
                        color: inherit;
                        font-family: "Gilroy", Arial, Helvetica, sans-serif;
                        text-transform: capitalize;
                    }
                    font-weight: 400;
                    width: 50%;
                    font-size: 14px;
                    color: #545761;
                }
            }
        }

        .tab-1-inner{
            .consumer-verification{
                padding: 1rem;
                margin-top: 10px;
                background-color: white;

                .flags{
                    .flags-inner{
                        .d-flex{
                            div{
                                width: 100px;
                                color: white;
                                text-align: center;
                                margin: 4px;
                                padding: 12px;
                                border-radius: 5px;
                                &.success{
                                    background-color: $success;
                                }

                                &.failed{
                                    background-color: $failed;
                                }
                            }
                        }
                    }
                }
            }
            .other{
                .row{
                    &>div:not(:last-child){
                        padding-right: 0;
                    }
                }
                .statistics{
                    padding: 0.8rem;
                    .d-flex{
                        span{
                            &:last-child{
                                margin-left: 25px;
                            }
                        }
                    }
                }
                .locations{
                    .location-content{
                        div{
                            width: 100%;
                            height: 180px;
                            img{
                                width: 100%;
                                padding: 1rem;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                    .locText{
                        div{
                            font-size: 12px;
                        }
                    }
                }
                .network{
                    padding: 1rem;
                    div{
                        span{
                            width:100%;
                        }
                    }
                }
            }
        }

        .tab-2-inner{
            .id-repeat{
                .row{
                    &>div:last-child{
                        padding-left: 0;
                    }
                }
                .cards{
                    div{
                        img{
                            width: 100%;
                        }
                    }
                }
                .card-info{
                    padding: 1rem;
                    p{
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    .flag{
                        color: white;
                        font-size: 14px;
                        text-align: center;
                        border-radius: 4px;
                        padding: 13px 15px;
                        width: 100%;
                        cursor: pointer;
                        &.success{
                            background-color: $success;
                        }
                        &.failed{
                            background-color: $failed;
                        }
                    }
                    .fraud-assessment-label{
                        margin-top: 2rem;
                    }

                    .assessment-breakdown-label{
                        border-top: 1px solid #ccc;
                        padding-top:5px;
                    }

                    .assessment-breakdown{

                        div.d-flex{
                            margin: 0;
                            div{
                                width: 48%;
                                min-width: 95px;
                                text-align: center;
                                color: white;
                                line-height: 1.2;
                                font-size: 14px;
                                padding: 0.4rem;
                                border-radius: 5px;
                                margin: 7px 0;
                                cursor: pointer;
                                &.success{
                                    background-color: $success;
                                }
                                &.failed{
                                    background-color: $warning;
                                }
                            }
                        }

                    }
                }
            }
            .card-info-tabs{
                div{
                    background-color: $bg;
                    margin-bottom: 10px;
                    span{
                        &.active{
                            color: #1b1b1b;
                            pointer-events: none;
                            cursor: auto;
                        }
                        cursor: pointer;
                        color: #959595;
                    }
                }

            }
        }

        .tab-3-inner{
            .attempt-links{
                display: flex;
                justify-content: center;
                .attempt-link{
                    padding-bottom: 0.6rem;
                    border-right: none;
                    &.active{
                        text-decoration: underline;
                    }
                }
            }
            .video-container{
                background-color: white;
                padding: 1rem 1rem 1rem 1rem;
                .video-inner{
                    padding: 0 40px 20px 40px;
                    position: relative;
                    .ocr-react-player{
                        video{
                            height: 275px !important;
                            background-color: #000;
                        }
                    }
                    .play-icon{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1000;
                        img{
                            width: 50px;
                        }
                    }
                }
                .btn-container{
                    padding:0 40px;
                    .enlarge{
                        padding: 15px;
                        color: #959595;
                        border: 1px solid $border;
                        &:hover{
                            background-color: transparent;
                            color: #959595;
                            border: 1px solid $border;
                        }
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                        img{
                            width: 15px;
                        }
                    }
                }
                .attempt-links{
                    a{
                        border: 1px solid #cecece;
                        margin-bottom: 0.2rem;
                        text-decoration: none;
                        color: #5a5a5a;
                        padding: 0.3rem 1rem;
                        font-size: 13px;
                        border-right: none;
                        &:last-child{
                            border-right: 1px solid #cecece;
                        }
                        &.active{
                            text-decoration: none;
                            background-color: #ececec;
                        }
                    }
                }

                .selfie-inner{
                    margin-top: 10px;
                    text-align: center;
                    img{
                        height: 275px !important;
                        background-color: #000;
                    }
                }
            }

            .card-face-container{
                background-color: white;
                padding: 53px 1.5rem 0;
                align-items: start;
                .face-image{
                    position:relative;
                    top: -24px;
                    p{
                        margin: 0;
                    }
                }
                img{
                    height: 275px;
                }
            }
            .title{
                width: 130px;
                text-align: center;
            }

            .flag-container{
                .flag{
                    border-radius: 5px;
                    color: white;
                    padding: 13px;
                    width: 135px;
                    text-align: center;
                    &.success{
                        background-color: $success;
                    }
                    &.failed{
                        background-color: $warning;
                    }
                }
            }
            .bottom-flags{
                margin: 2rem 0;
                .title{
                    width: auto;
                }
            }
        }
    }

    .centrix{

        padding: 2rem;
        background-color: white;

        .title-status {
            margin-top: 10px;
            margin-right: 20px;
            width: 25px;
        }

        .pull-left{
            float: left;
        }

        .pull-right{
            float: right;
        }

        .text-status
        {
            position: relative;
            width: 100%;
            margin: 10px 0;
        }
        .text-status img
        {
            position: absolute;
            right: 20px;
            top: 0;
            width: 18px;
        }
        .text-status .data
        {
            position: absolute;
            right: 20px;
            top: 0;
        }
        .table-sts
        {
            margin-top: 30px;
        }
        .table-sts tr td h4
        {
            margin: 8px 0;
        }
        .table-sts tr td img
        {
            width: 18px;
        }

        h4{
            font-size: 20px;
        }
        .info .tab-content
        {
            padding: 20px 0;
        }
        .info .title
        {
            font-weight: 300;
            margin-bottom: 40px;
            margin-top: 10px;
            font-size: 20px;
        }
        .c-default {
            color: #AFBDC4 !important;
            border-color: #AFBDC4 !important;
        }
        p,.c-default{
            font-size: 14px;
        }
    }

    .btn-container{
        width:100%;
        margin:2rem 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            border-radius:2px;
            padding: 15px 20px;
            margin: 2px;
            width:150px;
        }

    }
}


