@import '../../../styles/colors';

.modal-class {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0px;
  .modal-content {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;

    .applicants-modal {
      padding-top: 35px;
      padding-left: 35px;
      padding-right: 36px;
      padding-bottom: 40px;
      width: 100%;
      height: 100%;

      .dialog-title {
        text-align: left;
        font-weight: bold;
      }

      .under-line {
        width: 100%;
        height: 1px;
        border-bottom: solid 1px $primary;
        margin-top: 18px;
      }
      .subtitle-group {
        margin-top: 21px;
        font-weight: bold;

        .subtitle-key {
          float: left;
          font-size: 16px;
          font-weight: bold;
          margin-right: 80px;
        }

        .dialog-marginRight {

          margin-right: 110px;

        }

        .subtitle-value {
          font-weight: bold;
        }

      }

      .dialog-description {
        margin-top: 35px;
      }

      .applicant-info {
        margin-top: 42px;
        margin-left: 63px;

        .applicant-props {

          .applicant-name {
            float: left;
            margin-right: 70px;
          }
          // .applicant-phonenumber{

          // }

        }

      }

      .dialog-close {
        width: 189px;
        height: 45px;
        border-radius: 3px;
        display: table;
        margin: auto;
        margin-top: 80px;
        background: $primary;
        border: solid 1px $primary;
        color: #fff;
        font-size: 16px;
      }

      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }

    }

  }

}


