@import '../../../../styles/colors';

$gray-color : #d1d1d1;
$bg-gray-color:#edeff5;
$mgmt-border:#f1f1f1;
$bg-color:#ebebeb;

.permissions {
  padding: 1rem;
  .permission-heading {
    background-color: $bg-gray-color;

    div {
      width: calc(100%/3);
      border: 1px solid transparent;
      &:first-child{
        border-right: 1px solid #ebebeb !important;
      }

      &:nth-child(1),
      &:nth-child(2) {
        border-right: none;
      }

      h4 {
        margin: 0;
        padding: 1rem;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .permission-content{
    & > div{
      border-left: 1px solid  #ebebeb;
      border-right: 1px solid  #ebebeb;
      &:last-child{
        border-right: 1px solid  #ebebeb;
        border-left:none;
      }
    }
  }
}

.perm-item{
  &:hover, &.active{
    &>div{
      background-color: #edf0fb;
    }
  }
  &>div{
    border-bottom: 1px solid $mgmt-border;
    border-top-color: transparent;
    width: calc( 100%/3);
    height: 60px;
    cursor: pointer;
    &:nth-child(1),&:nth-child(2){
      border-right: none;
    }
    h4{
      padding: 1.4rem 1rem;
      font-size: 14px;
      margin: 0;
    }
    label{
      position: relative;
      top: 12px;
    }
    img{
      width: 13px;
      margin-top: 20px;
    }
  }
}

.perm-item{
  &>div{
    &:first-child{
      .nothing{
        width: 60%;
        margin: 0.5rem auto 0;
        height: 20px;
        padding: 0.5rem;
        border-bottom: 1.5px solid $mgmt-border;
        border-left: 1.5px solid $mgmt-border;
      }
    }
  }
}
