@import '../../../../styles/colors';

$gray-color : #DEE0E9;
$active-tab-color:#009DFF;
$sub-text-color: rgba(0,0,0,0.5);

.management-dashboard {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0.3cm;
	font-family: 'Nunito Sans', sans-serif;

  .header-item {
    border: solid 1px $gray-color;
    height: 120px;
    min-width: 240px;
    background: white;
    padding: 19px 24px;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      flex: 1;
      text-align: left;
    }
    .gray-title {
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
      color: $sub-text-color;
      flex: 1;
      text-align: left;
    }
    .big-number-container {
      flex: 2;
      text-align: right;
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .big-number {
      font-size: 48px;
      line-height: 66px;
      font-weight: bold;
      margin-left: 3mm;
    }
    .sub-container {
      display: flex;
      height: 50%;
      .sub-label {
        color: $sub-text-color;
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        flex: 1;
        text-align: left;
      }
      .sub-number {
        flex: 0.5;
        text-align: right;
        align-self: flex-end;
        align-items: end;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        margin-left: 3mm;
      }
    }  
  }
  .activeTab {
    color: $active-tab-color !important;
    border-bottom: 1mm solid $active-tab-color;
    font-size: 14px;
    line-height: 19px;
  }
  .inactiveTab {
    font-size: 14px;
    line-height: 19px;
  }
  .mangement-tab {
    margin: 1px 30px -2px;
  }

  .date-picker {
		position: relative;
		.react-datepicker__input-container {
			input {
				border: none;
				padding: 10px 30px 10px 10px;
				color: $description;
				text-align: right;
				border-radius: 5px;
				height: 50px;
				box-shadow: 0px 2px 5px 1px rgba(79, 79, 79, 0.15);
			}
		}
		svg {
			position: absolute;
			right: 5px;
			z-index: 1;
			top: 12px;
			color: $description;
		}
  }
  .figures {
    .header-item {
      .anlaytics-item {
        display: flex;
        height: 100%;
        .title {
          flex: 1;
          text-align: left;
          align-self: flex-start;
          color: $description;
        }
        .number {
          flex: 0.5;
          text-align: right;
          align-self: flex-end;
          font-size: 2.5rem;
          color: #000;
        }
      }
    }
  }
  .status-figures {
    .item {
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      color: $description;
      margin-left: 30px !important;
      font-weight: 300;
      &.total {
        font-weight: 1000;
      }
      .col {
        &:first-child {
          text-align: left;
          padding-left: 0;
          flex: 2;
        }
        &:last-child {
          padding-right: 0;
          flex: 0.5;
        }
      }
    }
  }
}