@import '../../../styles/colors';
$success: #4eb54a;
$failed: #eb433d;
$border: #f1f1f1;

.modal-class {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0px;

  .inner-record{
    padding: 4rem 1rem;
    button{
      height: 50px;
      width: 153px;
      &:first-child{
        margin-right: 10px;
      }
    }
  }
}


