@import '../../../styles/colors';
@import '../../../styles/fonts';
$border: #f1f1f1;
input{
  font-weight: 500;
  font-family: $font-family-heading;
}

.applicant-label{
  font-weight: 500;
  font-family: $font-family-heading;
}
.radio-group{

  display: flex;

  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    font-family: $font-family-heading;
    &.disable{
      opacity: 0;
      pointer-events: none;
    }
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 13px 20px;
    background-color: white;
    line-height: 2;
    border: 1px solid $border !important;
    margin: 0;
    margin-left: 10px;
    border-radius: 5px;
  }

  &.no-margin{
    label {
      margin: 0;
      border-radius: 0;
      border-right:none !important;
    }

    input[type=radio]:checked + label{
      background-color: #e0e0e0;
      border:none!important;
    }
  }

  &.large{
    label {
      width: 200px;
      background-color: white;
      text-align: center;
    }
  }
  &.small{
    label {
      width: 50px;
      background-color: white;
    }
  }

  input[type=radio]:checked + label{
    border:2px solid $primary !important;
  }

}

.applicants-detail{
  display: flex;
  justify-content: start;

  height: 60px !important;
  margin-top: 10px;
  .applicant-label{
    padding-top: 20px !important;
    margin-right: 5px;
    margin-left: 5px;

    font-size: 14px;
  }

  .applicant-input{
    &.border-danger{
      border: 1px solid red !important;
    }
    width: 320px;
    height: 100%;

    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;

    border: solid 1px $border !important;
    font-size: 14px;
  }

  input[type="text"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .selectClass{
    position: relative;
    margin-right: 5px;
    margin-left: 5px;

    .selectSpan{
      .selectimage{
        position: absolute;
        width: 24px;

        right: 0;
        margin-top: 14px;
        margin-right: 4px;

      }
    }
    .select_Input{
      height: 100%;

      width: 80px;
      border: solid 1px $border;
      border-radius: 4px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      background: #fff;

      font-weight: bold;
      padding-left: 12px;
      font-size: 14px;
    }

    select:focus{
      outline: none ;
      box-shadow:none;
    }
  }

  .mobile-container{
    width: 320px;
  }

  .country_code{
    width: 110px;
    & > div:first-child{
      border: 1px solid $border;
    }
    .select-options{
      width: 230px;
      background-color: white;
    }
    .option{
      border-bottom: 1px solid #e8ebf1;
      font-size: 14px;
    }
    .select-input{
      padding: 4px 0;
      input{

        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
      }
    }
  }

  .mobile-input,.email-input{

    height: 100%;

    margin-right: 5px;
    margin-left: 5px;
    border: solid 1px $border;
    border-radius: 4px;
    font-size: 14px;
  }
  .mobile-input{
    width: 266px;
  }
  .email-input{
    width: 380px;
    margin-right: 5px;
    margin-left: 0;
  }
  .sms-buttonclass{
    .sms-button{
      height: 100%;
      width: 80px;

      margin-right: 5px;
      margin-left: 5px;

      background: #fff;
      border: solid 1px $border;
      color: $secondary ;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;

    }


    .btn:active,
    .btn:focus {
      outline: none !important;
      box-shadow:none !important;
    }
  }

}